/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 




/* 整體設定 */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  /* primary setting */
  font-family: PingFang TC;
  color: #3F5D45; 
  font-size: 24px;
  font-weight: 600; 

  width: 940px;
  margin: 0 auto;
 
  list-style: none;
  text-align: center;
}


.logo {
  background: url(pic/logo-all-dark.svg) no-repeat;
  display: block;
  height: 40px; 

  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

/* text-setting 1:color */
.text-secondary { color: #EAF0ED; }

/* text-setting 2:weight and size */
.text-weight-light { font-weight: 300; }
.text-medium { font-size: 20px; }
.text-small { font-size: 16px; }

/* bg-color */
.bg-primary { background-color: #3F5D45; }
.bg-secondary { background-color: #EAF0ED; }

/* link */
a {
  text-decoration: none;
  color: #3F5D45;
}

a:hover {
  color:#1d2b20;
}

.block-link {
  display: block;
}

  .block-link:hover {
    background-color: #EAF0ED;
  }
  
  .block-link:active {
    background-color: #abb1ae;
  }

.link-cart {
  background-color: #EAF0ED;
} 

  .link-cart:hover {
    background-color: #FFE180;
  }
  .link-cart:active {
    background-color: #bea85f;
  }

  .link-page:hover {
    color:#3F5D45;
  }
  
  .link-page:active {
    background-color: #EAF0ED;
    color: #bea85f;
  }
  
/* line height */
.line-height-m { line-height: 24px; }
.line-height-l { line-height: 33px; }
/* margin */

.m-b-s { margin-bottom: 20px; }
.m-b-m { margin-bottom: 10px; }
.m-b-l { margin-bottom: 60px; }
.m-nav { margin: 40px 30px; }
.m-r-category { margin-right: 20px; }
.m-l-cart { margin-left: 50px; }
/* padding */
.p-s { padding: 10px; }
.p-tb-m { padding: 14px 0; }
.p-tb-l { padding: 16px 0; }
/* border */
.b-1 {
  border: solid #EAF0ED;
  border-width: 0 1px 1px 1px;
}

.b-2 {
  border: solid #EAF0ED;
  border-width: 0 1px;
} 

.b-3 {
  border-right: 1px solid #EAF0ED;
}

.b-6 {
  border: solid #EAF0ED;
  border-width: 1px 0 1px 1px;
}
.b-7 {
  border: solid #EAF0ED;
  border-width: 1px 1px 1px 0;
}


/* flex-setting: container, item */

.d-flex { display: flex; }
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.flex-direction-col { flex-direction: column; }
.align-items-strech { align-items: stretch; } 
.flex-wrap { flex-wrap: wrap; }

      .w-card-name { 
        width: 173px;
      }
    
      .w-card-price { 
        width: 127px; 
      }

      .item-flex-1 > a {
        flex: 1;
      }

/* size-setting */
.size-nav {
  height: 100px;
}
.size-category {
  width: 300px;
}

.size-page {
  width: 296px;
} 



 .card-image-relative {
  position: relative;
}
  
  .card-image-absolute-l {
    position: absolute;
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    top: 0;
    left: 20px;
  }
  
  .card-image-absolute-r {
    position: absolute;
    top: 20px;
    right: 20px;
  } 

.disabled {
  pointer-events: none;
}
